
* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	font-family: 'Arial Unicode', sans-serif;
}
header {
	height: 105px;
	width: 100vw;
	margin: 0;
	padding-top: 25px;
	font-size: 46px;
	text-align: center;
	color: white;
	background-color: #002967;
}
.addPortal {
	margin: 0 auto 50px;

	h1 {
		margin-top: 20px;
		font-size: 24px;
		text-align: center;
		font-weight: 400;
	}
	span {
		color: red;
		font-size: 22px;
		margin-left: 5px;
	}
	small {
		color: red;
		font-size: 12px;
	}
	textarea {
		outline: none;
		-webkit-transition-property: all;
		-webkit-transition-duration: .5s;
	  	-moz-transition-timing-function: cubic-bezier(100,50,21,6);
		-moz-transition-property: all;
		-moz-transition-duration: .5s;
	  	-moz-transition-timing-function: cubic-bezier(100,50,21,6);

		&:focus {
			background-color: #b7d2fb;
		}
	}

	form {
		display: block;
		margin: 20px auto;
		max-width: 860px;
		
		h2 {
			margin-bottom: 2px;
			font-size: 18px;
			font-weight: 400;
		}
		input {
			margin-bottom: 15px;
			height: 30px;
			border-radius: 5px;
			font-size: 18px;
			font-weight: 100;
			width: 250px;
			-webkit-transition-property: all;
			-webkit-transition-duration: .5s;
		  	-moz-transition-timing-function: cubic-bezier(100,50,21,6);
			-moz-transition-property: all;
			-moz-transition-duration: .5s;
		  	-moz-transition-timing-function: cubic-bezier(100,50,21,6);
		  	outline: none;

			&:focus {
				background-color: #b7d2fb;
			}
		}
		button {
			height: 25px;
			width: 130px;
			margin-right: 10px;
		}
	}
}
.homepageForms {
	position: relative;
	display: block;
	width: 80%;
	margin: 0 auto;

	#form {
		display: inline-block;
		border: 1px solid black;
		padding: 10px;
		width: 48%;
		margin: 1% .5%;
	}
}

.css {
	position: relative;
	display: block;
	width: 900px;
	margin: 0 auto;

	h2 {
		margin-top: 20px;
		font-size: 24px;
		font-weight: 400;
	}

	input {
		margin-bottom: 15px;
		height: 30px;
		border-radius: 5px;
		font-size: 18px;
		font-weight: 100;
		width: 250px;
		-webkit-transition-property: all;
		-webkit-transition-duration: .5s;
	  	-moz-transition-timing-function: cubic-bezier(100,50,21,6);
		-moz-transition-property: all;
		-moz-transition-duration: .5s;
	  	-moz-transition-timing-function: cubic-bezier(100,50,21,6);
	  	outline: none;

		&:focus {
			background-color: #b7d2fb;
		}
	}
}
.additionalLinks {
	border-top: 1px solid black;

	div {
		border-bottom: 1px solid black;
		margin: 10px 0px;
	}

	button {
		height: 40px;
		width: 120px;
		font-size: 18px;
		color: white;
		background-color: blue;
		border: none;
	}
}

.portalActions {
	display: block;
	margin: 0 auto;
	width: 265px;
}
.createPortal {
	display: inline-block;
	margin: 0 auto;
	text-align: center;
	background-color: green;
	height: 40px;
	width: 130px;
	font-size: 16px;
	color: white;
	border: none;

	&:hover {
		cursor: pointer;
	}
}
.cancel {
	display: inline-block;
	margin: 0 auto;
	text-align: center;
	background-color: red;
	height: 40px;
	width: 130px;
	font-size: 16px;
	color: white;
	border: none;

	a {
		color: white;
		text-decoration: none;
	}

	&:hover {
		cursor: pointer;
	}
}














